/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  line-height: 1.6;
  margin: 0;
  font-size: 1rem; /* Ajustable para accesibilidad */
}

/* Estilo del header */
header {
  background: url('../img/Copia-Diseno-sin-titulo.webp') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding-left: 2.5rem;
  text-align: left;
  position: relative;
}
/* Contenedor del contenido del header */
.header-content {
  max-width: 37.5rem;
  transform: translateX(-3.75rem);
}

/* Títulos del header */
h1 {
  font-size: 3rem; /* Unidades ajustables para accesibilidad */
  font-family: 'Georgia', serif;
  margin: 0;
}

/* Texto descriptivo del header */
p.lead {
  font-size: 1.25rem; 
  margin-top: 0.625rem;
  margin-bottom: 4.375rem;
}

/* Secciones generales */
section {
  padding: 3.75rem 1.25rem;
}

/* Estilos para los iconos de redes sociales en el header */
.social-icons {
  display: flex;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.social-icons a {
  margin-right: 1rem;
  text-decoration: none;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  filter: brightness(0) invert(1);
}

.social-icon:hover {
  transform: translateY(-0.3125rem) scale(1.1);
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
}

.social-icons a:focus {
  outline: 2px dashed #00f; 
  outline-offset: 2px;
}

/* Imágenes generales */
img.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

/* Animación de entrada */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(3.125rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Añadir soporte para usuarios que prefieren animación reducida */
@media (prefers-reduced-motion: reduce) {
  .animate-on-scroll {
    transition: none;
  }
}

/* Botón de contacto en form */
#contact {
  background-color: #000;
}

.contact-btn {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 1.375rem;
}

.contact-btn i {
  margin-left: 0.5rem;
}

.contact-btn:hover {
  background-color: #fff;
  color: #000;
}

.contact-btn:focus {
  outline: 2px dashed #00f;
  outline-offset: 2px;
}

/* Estilos para el formulario con imagen */
#contact-section {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  height: auto;
  background-color: #000;
  color: #fff;
}

.form-container {
  width: 50%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.image-container img {
  max-width: 100%;
  border-radius: 0.2rem;
  box-shadow: 0 0.5rem 1rem rgba(158, 158, 158, 0.303);
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.05);
}

/* Estilos del formulario */
#contact-section form .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  box-shadow: none;
  transition: border-color 0.3s ease;
}

#contact-section form .form-control:focus {
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #fff;
}

#contact-section form button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.625rem 1.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

#contact-section form button:hover {
  background-color: #fff;
  color: #000;
}

#contact-section form button:focus {
  outline: 2px dashed #00f;
  outline-offset: 2px;
}

/* Estilos del mapa con imagen estática */
#map-section {
  background-color: #000;
  padding: 2.5rem 0;
}

.h2-map {
  color: #fff;
  text-align: center;
}

.h2-map img {
  vertical-align: middle;
}

.map-container {
  max-width: 40%;
  margin: 0 auto;
  padding: 1.25rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  background-color: #575757;
  text-align: center;
}

.map-container img {
  max-width: 100%;
  height: auto;
  border-radius: 0.625rem;
  box-shadow: 0 0.5rem 2.1875rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.map-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 0.75rem 2.8125rem rgba(0, 0, 0, 0.3);
}

.map-container p {
  color: #ffffff;
  margin-top: 0.9375rem;
}

/* Botón "Ir arriba" */
#back-to-top {
  background-color: transparent;
  border: 2px solid #727272;
  color: #727272;
  padding: 0.3125rem 0.9375rem;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-to-top img {
  margin-bottom: 4px;
  filter: brightness(0) invert(0.55);
}

#back-to-top:hover img {
  filter: brightness(0) invert(1);
}

#back-to-top:hover {
  background-color: #727272;
  color: #fff;
}

#back-to-top:focus {
  outline: 2px dashed #00f;
  outline-offset: 2px;
}

/* Estilo del footer */
footer {
  background-color: #fff;
  color: #333;
  padding: 1.25rem;
}

/* Responsivo */
@media (max-width: 768px) {
  header {
    height: 50vh;
    padding-left: 1.25rem;
  }

  .header-content {
    max-width: 100%;
    transform: translateX(0);
    margin-top: 2.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  p.lead {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }

  .social-icons {
    justify-content: center;
  }

  .social-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  section {
    padding: 2.5rem 0.9375rem;
  }

  .form-container,
  .image-container {
    width: 100%;
    margin-top: 3rem;
  }

  .image-container img {
    max-width: 100%;
    margin-right: -50px;
  }

  .map-container {
    max-width: 70%;
    padding: 0.625rem;
  }

  .map-container img {
    max-width: 100%;
  }

  form .form-control {
    margin-bottom: 0.9375rem;
  }

  #back-to-top {
    padding: 0.1875rem 0.3125rem;
    font-size: 0.875rem;
    border-width: 0.0625rem;
  }
}